// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$colorCorporate: #0D47A1;

@mixin padding_zero_from_product_text {
  .v-card__text {
    padding: 0;
  }
}

@mixin size-window {
  min-height: calc(100vh - 265px);

}

@mixin padding_production_content {
  padding-left: 10px;
  padding-right: 10px;
}

@mixin adaptiv_font_heading {
  font-size: calc(14px + 8 * (100vw / 1264));
}

@mixin adaptiv_font_content_text {
  font-size: calc(12px + 4 * (100vw / 1264));
}

@mixin animation_product_card {


  .titleTransition-enter-active {
    animation: slideUp 1s ease;
  }

  @keyframes slideUp {
    from {
      transform: translate(-30vw, -40vh);
    }
    to {
      transform: translate(0)
    }
  }

  .titleTransition-leave-active {
    animation: slideDown 1s ease;
  }

  @keyframes slideDown {
    from {
      transform: translate(0)
    }
    to {
      transform: translate(40vh)
    }
  }

  .imgTransition-enter-active {
    animation: slideIn 1s ease;
  }

  @keyframes slideIn {
    from {
      transform: translate(-50vw)
    }
    to {
      transform: translate(0)
    }
  }

  .imgTransition-leave-active {
    animation: slideOut 1s ease;
  }

  @keyframes slideOut {
    from {
      transform: translate(0)
    }
    to {
      transform: translate(50vw)
    }
  }
}
